h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: gray;
    padding: 1em;
}

header {
    background-color: orange;
    padding: 2em;
    margin-bottom: 1em;
}

article {
    background-color: green;
    padding: 2em;
    margin-bottom: 1em;
}

section {
    background-color: green;
    padding: 5em;
    margin-bottom: 1em;
}

.find {
    margin-top: 10em;
}

.btn-1 {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 60px;
    transition: all .3s;
    display: inline-block;
    margin-left: 10em;
    background-color: transparent;
    cursor: pointer;
}

.btn-2 {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 60px;
    transition: all .3s;
    display: inline-block;
    margin-left: 37em;
    background-color: transparent;
    cursor: pointer;
}

.btn-3 {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 60px;
    transition: all .3s;
    display: inline-block;
    margin-left: 95em;
    top: 5em;
    background-color: transparent;
    cursor: pointer;
}

.touch:hover {
    color: black;
    background-color: black;
}